amqp==5.0.6
an-example-pypi-project==0.0.4
anyascii==0.3.0
arrow==1.2.1
Babel==2.9.1
beautifulsoup4==4.7.1
bibtexparser==1.1.0
billiard==3.6.4.0
binaryornot==0.4.4
bleach==4.1.0
blinker==1.4
bsddb3==6.2.6
celery==5.1.2
celery-once==3.0.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cookiecutter==1.7.3
Cython==0.29.24
Deprecated==1.2.13
dnspython==2.1.0
docutils==0.18.1
email-validator==1.1.3
et-xmlfile==1.1.0
eventlet==0.33.0
filedepot==0.8.0
Flask==1.1.4
Flask-BabelEx==0.9.4
Flask-Caching==1.10.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-WTF==0.14.3
future==0.18.2
greenlet==1.1.2
html5lib==1.1
idna==3.3
ijson==2.4
importlib-metadata==4.8.2
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.1.0
keepalive==0.1.1
keyring==23.4.0
kombu==5.2.2
lptrace==1.0.0
lxml==4.6.4
Markdown==3.3.6
MarkupSafe==2.0.1
mod-wsgi==4.9.0
nltk==3.6.5
nose==1.3.7
numpy==1.21.4
openpyxl==3.0.9
packaging==21.3
pandas==1.3.4
passlib==1.7.4
pip==21.3.1
pkginfo==1.8.2
poyo==0.5.0
prompt-toolkit==3.0.23
psutil==5.8.0
Pygments==2.10.0
PyJWT==2.3.0
pyparsing==3.0.6
pyshp==2.1.3
python-dateutil==2.8.2
python-magic==0.4.24
python-slugify==5.0.2
pytidylib==0.3.2
pytz==2021.3
rdflib==6.0.2
rdflib-jsonld==0.6.2
readme-renderer==32.0
redis==4.0.2
redislite==6.0.674960
regex==2021.11.10
requests==2.26.0
requests-testadapter==0.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
sadi==0.5.7
scipy==1.7.3
sdd2rdf==0.1.6
setlr==0.2.18
setuptools==60.3.1
six==1.16.0
soupsieve==2.3.1
speaklater==1.3
text-unidecode==1.3
toposort==1.7
tqdm==4.62.3
twine==3.7.1
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==1.0.1
wheel==0.37.0
whyis==2.0a1
wrapt==1.13.3
WTForms==3.0.0
xlrd==2.0.1
zipp==3.6.0

mod-wsgi==4.9.0
whyis-unit-converter==0.0.2
