<div :class="`section_${pageContent.name || ''}`" :key="tool">
  <div class="wrapper md-layout md-alignment-top-center">
    <div class="team_header md-layout-item md-size-80">
      <h1 class="visualize_header-h1 teams_header">{{ pageContent.title }}</h1>
    </div>
    <div class="teams_text md-layout-item md-size-80">
      {{ pageContent.text }}
    </div>

    <div class="md-layout-item md-size-80 md-layout md-alignment-top-center">
      <tool-card v-for="card of pageContent.cards" v-bind="card" :key="card.name"></tool-card>
    </div>

    <div class="md-layout-item md-size-80 md-layout md-alignment-top-left" v-if="pageContent.references">
      <reference-container :references="pageContent.references" :openOnLoad="false"></reference-container>
    </div>
  </div>
</div>