<div class="wrapper u_width--max viz-u-postion__rel">
  <div class="research">
    <div class="team_header">
      <h1 title="Research" class="visualize_header-h1 teams_header">
        Get in Touch
      </h1>
    </div>
    <dialog-box :minWidth="40" :active="dialogBoxActive">
      <template v-slot:title>{{ dialogTitle }}</template>
      <template v-slot:content>{{ dialogContent }}</template>
      <template v-slot:actions>
        <md-button @click.native.prevent="closeDialogBox">Close</md-button>
      </template>
    </dialog-box>
    <p class="mb-3">
      We'd love to help. Please fill out this quick form and we will be in
      touch.
    </p>
    <div class="contactus mb-3">
      <div v-if="errors.length">
        <h3>Please correct the following error(s):</h3>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </div>
      <form class="form" v-on:submit.prevent="onSubmit" ref="contactForm">
        <div class="form__group">
          <input
            type="text"
            class="form__input"
            placeholder="Full Name (Required)"
            name="name"
            id="name"
            v-model="name"
            required
          />
          <label htmlFor="name" class="form__label">Full Name</label>
        </div>
        <div class="form__group">
          <input
            type="email"
            class="form__input"
            placeholder="Email Address (Required)"
            name="email"
            v-model="email"
            id="email"
            required
          />
          <label htmlFor="name" class="form__label">Email Address</label>
        </div>
        <div class="contactus_radios-text">For:</div>
        <ul class="contactus_radios">
          <li>
            <div class="form__radio-group">
              <input
                type="radio"
                class="form__radio-input"
                v-model="platform"
                id="nanomine"
                value="nanomine"
                required
              />
              <label for="nanomine" class="form__radio-label">
                <span class="form__radio-button"></span>
                Nanomine
              </label>
            </div>
          </li>
          <li>
            <div class="form__radio-group">
              <input
                type="radio"
                class="form__radio-input"
                v-model="platform"
                id="metamine"
                value="metamine"
              />
              <label for="metamine" class="form__radio-label">
                <span class="form__radio-button"></span>
                Metamine
              </label>
            </div>
          </li>
        </ul>
        <div class="contactus_radios-text">I want to...</div>
        <ul class="contactus_radios">
          <li>
            <div class="form__radio-group">
              <input
                type="radio"
                class="form__radio-input"
                v-model="contactType"
                id="question"
                value="QUESTION"
                required
              />
              <label for="question" class="form__radio-label">
                <span class="form__radio-button"></span>
                Ask Question
              </label>
            </div>
          </li>
          <li>
            <div class="form__radio-group">
              <input
                type="radio"
                class="form__radio-input"
                v-model="contactType"
                id="report"
                value="TICKET"
              />
              <label for="report" class="form__radio-label">
                <span class="form__radio-button"></span>
                Submit A Ticket
              </label>
            </div>
          </li>
          <li>
            <div class="form__radio-group">
              <input
                type="radio"
                class="form__radio-input"
                v-model="contactType"
                id="suggestion"
                value="SUGGESTION"
              />
              <label for="suggestion" class="form__radio-label">
                <span class="form__radio-button"></span>
                Make Suggestion
              </label>
            </div>
          </li>
          <li>
            <div class="form__radio-group">
              <input
                type="radio"
                class="form__radio-input"
                v-model="contactType"
                id="comment"
                value="COMMENT"
              />
              <label for="comment" class="form__radio-label">
                <span class="form__radio-button"></span>
                Make Comment
              </label>
            </div>
          </li>
        </ul>
        <div class="form__group">
          <textarea
            rows="4"
            class="form__input"
            placeholder="Write your message (Required)"
            name="message"
            v-model="message"
            id="message"
            required
          ></textarea>
          <label htmlFor="message" class="form__label">Message</label>
        </div>

        <div
          v-if="reducedName"
          class="md-layout md-alignment-center-space-between"
        >
          <p class="md-body-2">{{ reducedName }}.....</p>

          <md-button class="md-icon-button" @click="removeImage">
            <md-icon>close</md-icon>
            <md-tooltip md-direction="top">Click to remove file</md-tooltip>
          </md-button>
        </div>
        <div class="form__group u_display-flex grid_gap-small">
          <template v-if="!fileName">
            <button
              v-if="!isAuth"
              class="btn btn--primary"
              @click.prevent="loginAlert"
            >
              attach a file
            </button>

            <label v-else for="attach_file">
              <div class="form__file-input">
                <div class="md-theme-default">
                  <label class="btn btn--primary" for="attach_file">
                    attach a file
                  </label>
                  <div class="md-file">
                    <input
                      :disabled="!isAuth"
                      @change="onInputChange"
                      accept=".png, .jpg, .jpeg, .tiff, .tif, .csv, .zip, .xls, .xlsx"
                      type="file"
                      name="attach_file"
                      id="attach_file"
                    />
                  </div>
                </div>
              </div>
            </label>
          </template>

          <button class="btn btn--primary" type="submit">Submit Form</button>
        </div>
      </form>
    </div>
  </div>
</div>
