# project specific
.github/
node_modules/
package-lock.json

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# vuepress build output
.vuepress/dist
