# project specific
node_modules/
package-lock.json
**/package-lock.json
**/node_modules

# dotenv environment variables file
.env
.env.test
**/**/envVarFile
**/**/env
**/**/secrets.json

# parcel-bundler cache (https://parceljs.org/)
.cache

# vuepress build output
.vuepress/dist

# Mac
.DS_Store
**/**/.DS_Store

# Local DBs
**/**/db

# Rest
**/**/*.log

# Fuseki
mockDB/fuseki/shiro.ini
mockDB/fuseki/backups/
mockDB/fuseki/databases/
mockDB/fuseki/logs/
mockDB/fuseki/system/
mockDB/fuseki/system_files/
mockDB/fuseki/templates/
mockDB/fuseki/log4j2.properties
mockDB/materialsmine_backup/
mockDB/fuseki/files/

#Sync DB
mockDB/restore/mongodump/
mockDB/materialsmine_backup/

#Elastic Search
mockDB/es/

#Min.io
mockDB/minio/

#Whyis
**/**/__pycache__/
**/**/celerybeat-schedule.db
