@import "@/assets/css/abstract/_mixins";
.grid {
    display: grid;

    &_explorer {
        &-boxes {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2.4rem;
            cursor: pointer;
            @include respond(tab-land) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1.4rem;
            }
            @include respond(tab-port) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &-fullrow {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            cursor: pointer;
        }
    }

    &_gap {
        &-smaller {
            grid-gap: .4rem;
        }
        &-small {
            grid-gap: 1rem;
        }
        &-big {
            grid-gap: 5rem;
        }
    }

    &_row {
        &-1 {
            grid-template-rows: repeat(1, 1fr);
        }
        &-2 {
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &_col {
        &-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &-3 {
            grid-template-columns: repeat(3, 1fr);
            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 1.4rem;
            }
        }
        &-4 {
            grid-template-columns: repeat(4, 1fr);
            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 1.4rem;
            }
        }
        &-5 {
            grid-template-columns: repeat(5, 1fr);
            grid-row-gap: 3rem;
            @include respond(tab-land) {
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 5rem;
            }
            @include respond(tab-port) {
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 5rem;
            }
            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 1.4rem;
            }
        }
        &-space-right {
            grid-template-columns: 1fr 2fr;
            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 1rem;
            }
        }
        &-space-left {
            grid-template-columns: 2fr 1fr;
        }
    }
}
