<div class="section_teams">
    <div class="wrapper">
        <div class="howto_item" v-for="(video, idx) in videos" :key="idx">
            <div class="howto_item-header" @click="displayVideo(idx)">
                <span class="material-icons">desktop_windows</span> <h1 :title="video.title" class="visualize_header-h1">{{ video.title }}</h1>
            </div>
            <p>{{ video.text }}</p>
            <div v-if="!video.hide">
                <video controls autoplay :src="video.url"></video>
            </div>
        </div>
        <div class="howto_item">
            <div class="howto_item-header" @click="displayVideo('null', 'https://youtu.be/o2FA1yM85M8')">
                <span class="material-icons">smart_display</span> <h1 title="Nanomine Visualization Gallery" class="visualize_header-h1">Nanomine Visualization Gallery</h1>
            </div>
            <p>This video tutorial is a short overview of the charts platform.</p>
        </div>
    </div>
</div>