<div class="section_ChemPropsAPIToken">
  <div class="wrapper md-layout md-alignment-top-center md-gutter requestToken">
    <div class="team_header md-layout-item md-size-66">
      <h1 class="visualize_header-h1 teams_header">
        Request token here for ChemProps - A growing polymer name and filler name standardization database
      </h1>
    </div>
    <!-- <md-dialog
      v-model="submitError"
      type="error"
      outline
      >
      {{loginRequiredMsg}}
    </md-dialog> -->
    <div class="md-layout-item md-size-66">
      <h3>Instructions</h3>
      <p>In this page, you can request token for API access to ChemProps. For the first-time users, you will
        need to create access token by entering a domain secret. The token information will display once the
        secret is submitted. Please keep the token safe. In case of losing the token, the token information
        will show again when users log in and land on this page once the access token is created.
      </p>
    </div>
    <div v-if="loginRequired" class="md-layout-item md-size-66">
      <p>If you already have a Duke University account, proceed to login. Otherwise create a
        <a href="https://accounts.oit.duke.edu/onelink/register" target="_blank">Duke OneLink</a> account.
      </p>
      <md-button :href="getUserLoginLink()" class="md-primary">Login</md-button>
    </div>
    <div v-else class="md-layout-item md-size-66">
      <form v-if="!accessAuth">
        <md-field md-toggle-password>
          <label for="domainsecret">Create Access Token</label>
          <md-input id="domainsecret" type="password" v-model="domainsecret" placeholder="Enter A Secret"></md-input>
        </md-field>
        <md-button class="md-primary" @click="submitRequest">Request Token</md-button>
      </form>
      <div v-else>
        <kbd class="text-xs-left" style="padding:0.6rem 1.2rem; margin-top:1.5rem; width:100%">
          <span style="display:block"><strong>API URL:</strong> {{address}}/nmr/api/chemprops </span>
          <div style="display:block; color:palevioletred; max-width: 98%; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical;"><strong>API Token:</strong> {{accessAuth}} </div>
        </kbd>
        <p style="margin-top:1rem">
          To access this protected api resource, the user agent should send the API Token,
          typically in the Authorization header using the Bearer schema. The content of the header should look like the following:<br />
          <kbd style="margin-top:1rem; display:block; margin-bottom:1rem; padding:0 0.6rem">
            <span style="display:block">'Content-Type': 'application/json',</span>
            <span style="display:block">Authorization: Bearer &lt;token&gt;</span>
          </kbd>
          Copy and keep the above token safe.
        </p>
      </div>
    </div>
  </div>
</div>