<div class="datavoyager">
    <div class="utility-content__result">
      <div
        class="utility-gridicon"
        v-if="!loading"
      >
        <div>
            <md-button
                class="md-icon-button"
                @click.native.prevent="navBack"
            >
                <md-tooltip md-direction="bottom">
                  Go Back
                </md-tooltip>
              <md-icon>arrow_back</md-icon>
            </md-button>
            <!-- TODO: Enable save button for new chart creation -->
            <md-button
                class="md-icon-button"
                @click.native.prevent="saveAsChart"
                v-if="!isNewChart && voyagerSpec"
                disabled
            >
                <md-tooltip md-direction="bottom">
                  Save current spec as new chart
                </md-tooltip>
                <md-icon>save</md-icon>
            </md-button>
            <!-- TODO: Enable select button for new chart editing -->
            <router-link :to="{ name: 'ChartCreate' }">
              <md-button
              class="md-icon-button"
              @click="selectSpec"
              v-if="isNewChart && voyagerSpec"
              >
                  <md-tooltip md-direction="bottom">
                    Select current spec and return to Viz Editor
                  </md-tooltip>
                  <md-icon>check</md-icon>
              </md-button>
            </router-link>
        </div>
      </div>
    </div>
    <div class="viz-sample__header viz-u-mgbottom">
      <span class="datavoyager-title">Data Voyager</span>
      <span v-if="!isNewChart && chart && chart.title">: {{chart.title}}</span>
    </div>
    <div class="datavoyager-content">
      <accordion
        :startOpen="true"
        title="Instructions"
        :dense="true"
        class="datavoyager"
      >
          <div class="datavoyager">
            <p>
              Explore the data by dragging fields from the "<b>Data</b>" panel into 
              slots in the "<b>Encoding</b>" panel.
            </p>
            <p>
              If no fields are selected, Data Voyager generates 
              <b>Univariate Summary</b> charts of the data.
            </p>
            <p>
              Clicking on the "<b>Specify</b>" (<md-icon>list</md-icon>) button for 
              an individual chart in the "<b>Related Views</b>" panel prompts Data 
              Voyager to generate additional recommended charts based on the selection.
            </p>
            <ul>
              <li>
                <b>Wildcards</b>: Allow users to include fields without selecting a 
                specific channel (encoding slot). 
                Data Voyager will suggest appropriate encodings for that field.
              </li>
              <li>
                <b>Filters</b>: 
                Dropping a field in this slot provides filtering options on that field.
              </li>
            </ul>
            <p>
              For a quick narrated walkthrough, see this 
              <a href="https://vimeo.com/199084718" target="_blank" rel="noopener noreferrer">
                preview video
              </a> 
              from the original developers.
            </p>
          </div> 
      </accordion>
    </div>
    <div
      class="loading-dialog"
      style="margin: auto"
      v-if="loading"
    >
      <spinner :loading="loading" />
    </div>
    <div
      class="loading-dialog"
      style="margin: auto"
      v-else
    >
      <data-voyager
        :data="data"
        :spec.sync="voyagerSpec"
      ></data-voyager>
    </div>

    <div class="datavoyager">
      <h4> 
        <a href="https://idl.cs.washington.edu/papers/voyager2" target="_blank" rel="noopener noreferrer"> 
        Voyager 2: Augmenting Visual Analysis with Partial View Specifications 
        </a>
      </h4>
      <p>
        Kanit Wongsuphasawat, Zening Qu, Dominik Moritz, Riley Chang, Felix Ouk, 
        Anushka Anand, Jock Mackinlay, Bill Howe, Jeffrey Heer
      </p>
      <i>
        ACM Human Factors in Computing Systems (CHI), 2017    
      </i>
    </div>
  </div>
</div>
