<div class="datavoyager">
    <div class="utility-content__result">
      <div
        class="utility-gridicon"
        v-if="!loading"
      >
        <div>
            <md-button
                class="md-icon-button"
                @click.native.prevent="navBack"
            >
                <md-tooltip md-direction="bottom">
                  Go Back
                </md-tooltip>
              <md-icon>arrow_back</md-icon>
            </md-button>

            <md-button
              class="md-icon-button"
              @click.native.prevent="toggleInstructions"
            >
                <md-tooltip md-direction="bottom">
                  Toggle Instructions
                </md-tooltip>
              <md-icon>help_outline</md-icon>
            </md-button>

            <!-- TODO: Enable save button for new chart creation -->
            <md-button
                class="md-icon-button"
                @click.native.prevent="saveAsChart"
                v-if="!isNewChart && voyagerSpec"
                disabled
            >
                <md-tooltip md-direction="bottom">
                  Save current spec as new chart
                </md-tooltip>
                <md-icon>save</md-icon>
            </md-button>
            <!-- TODO: Enable select button for new chart editing -->
            <router-link :to="{ name: 'ChartCreate' }">
              <md-button
              class="md-icon-button"
              @click="selectSpec"
              v-if="isNewChart && voyagerSpec"
              >
                  <md-tooltip md-direction="bottom">
                    Select current spec and return to Viz Editor
                  </md-tooltip>
                  <md-icon>check</md-icon>
              </md-button>
            </router-link>
        </div>
      </div>
    </div>
    <div class="viz-sample__header viz-u-mgbottom">
      <span class="datavoyager-title">Data Voyager</span>
      <span v-if="!isNewChart && chart && chart.title">: {{chart.title}}</span>
    </div>
    <div class="viz-sample__content" v-if="showInstructions">
      <div class="datavoyager">
        <p>
          Explore the data by dragging fields from the <b>"Data"</b> panel into 
          slots in the "Encoding" panel.
        </p>
        <p>
          If no fields are selected, Data Voyager generates 
          Univariate Summary charts of the data.
        </p>
        <p>
          Clicking on the "Specify" (<md-icon>list</md-icon>) button for an individual chart  
          in the "Related Views" panel prompts 
          Data Voyager to generate additional recommended charts based on the selection.
        </p>
        <ul>
          <li>
            Wildcards: Allow users to include fields without selecting a specific channel (encoding slot). 
            Data Voyager will suggest appropriate encodings for that field.
          </li>
          <li>
            Filters: Dropping a field in this slot provides filtering options on that field.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="loading-dialog"
      style="margin: auto"
      v-if="loading"
    >
      <spinner :loading="loading" />
    </div>
    <div
      class="loading-dialog"
      style="margin: auto"
      v-else
    >
      <data-voyager
        :data="data"
        :spec.sync="voyagerSpec"
      ></data-voyager>
    </div>
    <div class="md-layout-item md-size-70">
      <h4>
          Voyager 2: Augmenting Visual Analysis with Partial View Specifications    
      </h4>
      <p>
        Kanit Wongsuphasawat, Zening Qu, Dominik Moritz, Riley Chang, Felix Ouk, Anushka Anand, Jock Mackinlay, Bill Howe, Jeffrey Heer
      </p>
      <i>
        ACM Human Factors in Computing Systems (CHI), 2017    
      </i>
    </div>
  </div>
