{% extends "wrapper.html" %}
{% block content %}
    <h1> Posts by {{ user.username.title() }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata row">
                <div class="col-md-8">
                    <img src="{{ url_for('static', filename='images/profile/' + post.author.image_file) }}" alt="{{ post.author.username }}" class="rounded-circle article-imgs mb-2">
                    <a class="mr-2" href="{{url_for('posts.user_posts', username=post.author.username)}}">{{ post.author.username.title() }}</a>
                </div>
                <div class="col-md-4">
                    <p class="text-muted align-text-top mt-2 text-right u-small">{{ post.date_posted.strftime("%a. %b %d, %Y") }}</p>
                </div>
            </div>
            <h2><a class="article-title" href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('posts.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            <span class="mr-2 ml-2 text-info">...</span>
        {% endif %}
    {% endfor %}
{% endblock content %}