.facet {
    z-index: 9;
    background-color: $primary-white;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-height: 60px;
    min-width: 320px;
    max-height: 500px;
    max-width: 600px;
    opacity: 0;

    &_viewport {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        overflow: auto;
        border: 1px solid rgba(#000, .12);
    }

    &_active {
        opacity: 0.8;
    }

    &_panel {
        // TODO: There are duplicates of this styling. Needs refactoring
        @include respond(big-desktop){
            visibility: hidden;
            display: none;
            opacity: 0;
        }
    }
}
  
  /*Drgable */
  
.facet {
    position: absolute;
    /*resize: both; !*enable this to css resize*! */
    overflow: auto;
}
  
.md-subheader.facet-header {
    min-height: 35px;
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: $primary;
    color: $primary-white !important;
    font-weight: bold;
    margin-bottom: .2rem;
}
  
/*Resizeable*/
.facet .resizer-right {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: e-resize;
}
  
.facet .resizer-bottom {
    width: 100%;
    height: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: n-resize;
}
  
.facet .resizer-both {
    width: 5px;
    height: 5px;
    background: transparent;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nw-resize;
}
  
/*NOSELECT*/
.facet * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.facet-content {
    &_container {
        margin-top: .8rem;
    }

    &_item {
        margin: 0 auto;
    }

    &_label {
        font-weight: 500;
        text-align: left;
        padding-left: 0.5rem;
        color: $primary;
    }
}
  