.nav {
  &_menu {
    & > ul {
      margin: 0;
      padding: 0.7rem 0;
      // @include clearfix;

      & > li {
        list-style: none;
        display: inline-block;
        padding-right: 1.25rem;

        // &:last-child {
        //     padding-right: 0;

        //     @include respond(tab-port){
        //         padding-right: .2rem;
        //     }
        // }

        // @include respond(tab-land){
        //     padding-right: 1.25rem;
        //     float: left;
        //     display: block;
        // }

        & > a,
        & > div > a {
          text-decoration: none !important;
          font-weight: 500;
          color: $primary-white !important;
          padding: 0.1rem 0.2rem;
          font-size: 1.4rem !important;

          &:hover {
            color: $tertiary !important;
            border-bottom: 0.2rem solid #d7df71;
            text-decoration: none;
          }

          @include respond(tab-port) {
            font-size: 1.2rem;
            padding: 0.3rem 0.6rem;
          }

          @include respond(phone) {
            padding: 0;
          }
        }
      }
    }

    &--lightbg {
      & ul > li {
        & > a,
        & > div > a {
          color: $primary !important;
          padding: 2.5rem 1rem;
          &:hover {
            color: $primary !important;
            text-decoration: none;
            background-color: rgba($primary, 0.1);
            border-bottom: 0rem solid rgba($primary, 0.1);
          }
        }
      }
    }

    &--handler {
      &:active + div.nav_menu--siblings,
      &:hover + div.nav_menu--siblings,
      &:active + div.nav_menu--siblings-mm,
      &:hover + div.nav_menu--siblings-mm {
        display: block;
        visibility: visible;
      }
    }

    &--container {
      position: relative;
      z-index: 100;
    }

    &--sibheader {
      top: 1.8rem !important;
    }
    &--siblings-mm {
      padding: 0.3rem 0;
      position: absolute;
      top: 4.3rem !important;
      left: 0;
      line-height: 2.5;
      min-width: 20rem;
      background-color: #ffffff;
      border-bottom-left-radius: 0.5rem !important;
      border-bottom-right-radius: 0.5rem !important;
      box-shadow: 0 2px 4px -1px rgb($primary-black, 20%),
        0 4px 5px 0 rgb($primary-black, 14%);
      display: none;
      visibility: hidden;
      z-index: 10;
      &:hover {
        display: block;
        visibility: visible;
      }

      &-lists {
        display: block;
        transition: background-color 0.5s ease-out;
        text-decoration: none !important;
        text-align: left;
        & > a {
          color: $primary-light !important;
          font-size: 1.4rem;
          padding: 0 0.6rem;
          &:hover {
            color: $primary-white;
          }
        }

        &:hover {
          background-color: $primary-grey;
          cursor: pointer;
          & > a {
            color: $primary-white !important;
            text-decoration: none !important;
          }
        }
      }
    }

    &--siblings {
      padding: 0.3rem 0;
      border-bottom: 0.3rem solid rgb(8, 35, 60);
      position: absolute;
      top: 2.02rem;
      left: 0;
      /* font-size: 1rem; */
      line-height: 2.5;
      min-width: 20rem;
      background-color: #ffffff;
      border-bottom-left-radius: 0.9rem;
      border-bottom-right-radius: 0.9rem;
      border-top-right-radius: 0.5rem;
      display: none;
      visibility: hidden;
      z-index: 10;

      @include respond(laptop) {
        top: 2rem;
      }

      @include respond(tab-land) {
        top: 1.8rem;
      }

      &-lists {
        display: block;
        border-bottom: 1px solid rgba($primary-grey, 0.2);
        transition: background-color 0.5s ease-out;
        text-decoration: none !important;
        text-align: left;
        & > a {
          color: $primary-light !important;
          font-size: 1.4rem;
          padding: 0 0.6rem;

          &:hover {
            color: $primary-white;
          }
        }

        &:hover {
          background-color: $primary;
          cursor: pointer;
          & > a {
            color: $primary-white !important;
            text-decoration: none !important;
          }
        }
        &:last-child {
          border: none;
        }
      }

      &-lists-removebdr {
        border: none;
      }

      &:hover {
        display: block;
        visibility: visible;
      }
    }
  }

  &_ul {
    @include respond(tab-land) {
      width: 100vw;
      text-align: center;
    }
  }

  &_mobile-icon {
    display: none;
    visibility: hidden;
    text-align: left;
    @include respond(phone) {
      height: 1.5rem;
      width: 1.5rem;
      position: absolute;
      top: 1.5rem;
      left: 1rem;
      z-index: 12;
      display: block;
      visibility: visible;
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 1.25rem;
      height: 0.14rem;
      background-color: $primary-white;
      transform-origin: 0 0;
      transition: transform 0.4s ease-out;
    }

    &-menu {
      position: absolute;
      top: 0.6rem;
      width: 1.75rem;
      height: 0.14rem;
      background-color: $primary-white;
      transition: all 0.4s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 1.25rem;
      height: 0.14rem;
      background-color: $primary-white;
      transform-origin: 0 50%;
      transition: transform 0.4s ease-out;
    }

    &--toggle {
      &::before {
        transform: rotate(45deg) translateY(-1.5px) scale(1.5);
        height: 0.09rem;
      }

      .nav_mobile-icon-menu {
        opacity: 0;
        transform: scale(0);
      }

      &::after {
        transform: rotate(-45deg) scale(1.5);
        height: 0.09rem;
      }
    }
  }
}
