.search_box {
    margin: 0 auto;
    width: 70%;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;

    &_header {
        font-size: 5rem;
        font-weight: 300;
        text-align: left;
        color: $primary;
        margin-top: 8rem;
    }

    &_text {
        font-size: 1.4rem;
        text-align: left;
        margin-top: -2rem;
    }

    &_form {
        display: flex;
        flex-direction: row;

        &-item-1 {
            flex-grow: 220;
        }
        &-item-2 {
            flex-grow: 1;
            align-self: flex-start;
        }
        &_btn {
            display: block !important;
            padding: 1.5rem 3.5rem !important;
            font-size: 1.2rem;
            &:hover {
                transform: translateY(0) !important;
            }
        }

        &_label {
            text-align: left;
            color: $primary;
        }
    }
}

.explorer_page {
    &_footer {
        color: $primary;
        margin-top: 5rem;
        text-align: center;
        &-text {
            font-size: 1.5rem;
        }
    }
    &-container {
        background-size: cover;
        background-image: linear-gradient(90deg,$primary 25%,$primary-light),url(~@/assets/img/large-mesh.jpg) !important;
        background-blend-mode: screen;
        padding: 1rem;
    }
    &-nav {
        margin: 0 auto;
        width: 70%;
        margin-top: 9rem;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;

        &-card {
            height: 25rem;
            // background-color: $primary;
            cursor: pointer;
            margin-right: 5rem;
            &_icon {
                margin-top: 7rem;
                font-size: 12rem !important;
                color: $primary !important;
            }
            &_text {
                color: $primary;
                font-size: 3rem;
                font-weight: 300;
            }

            &:hover {
                background-color: $tertiary;
                & > .explorer_page-nav-card_icon, & > .explorer_page-nav-card_text{
                    color: $primary !important;
                }
            }
        }
    }
    &-list {
        margin-bottom: 4rem;
    }
}