.md-app-internal-drawer,
.md-app-side-drawer .md-app-container {
  height: 100vh !important;
}

.md-app-content {
  padding: 0 !important;
  padding-top: 1rem !important;
}

.md-drawer {
  width: 258px;
  max-width: calc(100vw - 125px);
}

#reset_bg {
  background-color: $primary !important;
  // background: url('~@/assets/img/random_network.png') no-repeat center !important;
  background-size: cover !important;
  z-index: 20;
}

#reset_tab_bg.md-tabs.md-theme-default.md-primary .md-tabs-navigation {
  background-color: transparent !important;
  font-weight: 400;
  font-size: 1.6rem;
}

.md-tabs-navigation .md-ripple {
  @include respond(phone) {
    padding: 0 5px !important;
  }
}

.md-avatar.md-theme-default {
  border: 0.2rem solid $tertiary;
}

.md-button-content {
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: capitalize !important;
  color: $secondary-light !important;
}

.md-button-lightbg {
  .md-button-content {
    color: $secondary !important;
  }
}

.md-active {
  border-bottom-color: $tertiary !important;
}

.adjust {
  &_metamine {
    &-toolbar {
      background-color: #8cb2ca !important;
      min-height: 60px !important;
    }
    &-title {
      font-weight: 300 !important;
      color: $primary !important;
      font-size: 3rem;
    }
  }
}

.md-toolbar {
  &_adjust {
    border-radius: 0px !important;
    box-shadow: unset !important;
    min-height: unset !important;
    background-color: unset !important;
  }
  &-section-end {
    @include respond(tab-port) {
      display: none !important;
    }
    &_adjust {
      @include respond(tab-port) {
        display: flex !important;
      }
      @include respond(phone) {
        display: none !important;
      }
    }
  }
}

.md-layout-item {
  height: 40px;

  &:after {
    width: 100%;
    height: 100%;
    display: block;
    background: md-get-palette-color($error, 200);
    content: ' ';
  }

  &_para {
    font-size: 1rem;
    padding: 1.5rem;
    text-align: justify;
    font-weight: 400;

    &_fl {
      font-size: 1.5rem;
    }
  }
  &_card {
    height: 33rem !important;
    width: 30rem !important;
    box-shadow: none !important;
    margin-bottom: 4rem;
    margin-left: 2rem;
    @include respond(phone) {
      margin-left: 0;
      margin-bottom: 1rem;
    }

    &-tall {
      height: 38rem !important;
    }

    &-short#dynamfit-card {
      height: 20rem !important;
      width: 19rem !important;

      .icons#mm {
        font-size: 5rem !important;
        color: $primary !important;
        margin-top: 2rem !important;
      }
    }

    &-btn {
      margin-top: 22rem !important;
    }

    &::after {
      display: none !important;
      visibility: hidden !important;
    }

    & > a {
      color: $primary !important;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}
.md-menu-content {
  z-index: 14;
}

.search-dropdown-menu {
  width: 100% !important;
  display: block;
  min-height: 20rem;
  max-height: 35rem;
  overflow-y: scroll;
  position: absolute;
  margin: 0 auto;
  top: -4rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  background-color: $primary-white;
  line-height: 1.6;

  &_parent {
    position: relative;
    z-index: 15 !important;
  }

  & > li {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    overflow: hidden;

    &:hover {
      background-color: $tertiary;
      color: $primary;
      cursor: pointer;
    }

    & > a {
      text-decoration: none !important;
      color: $primary-black !important;
      font-weight: 500 !important;
      &:hover {
        cursor: pointer;
        color: $primary !important;
      }
    }

    &:nth-child(odd) {
      background-color: rgba($primary-light, 0.2);
      border-top: 0.05rem solid $primary;
      border-bottom: 0.05rem solid $primary;

      &:hover {
        background-color: $tertiary;
        color: $primary;
      }
    }
  }
  &-plain {
    @extend .search-dropdown-menu;
    & > li:nth-child(odd) {
      background-color: $primary-white !important;
      border-top: 0;
      border-bottom: 0;

      &:hover {
        background-color: $tertiary !important;
        color: $primary;
      }
    }
  }
}

.md-card-class {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;

  @include respond(laptop) {
    width: 290px;
  }

  @include respond(tab-land) {
    width: 280px !important;
  }

  @include respond(tab-port) {
    width: 270px !important;
  }

  @include respond(phone) {
    width: 250px !important;
  }
}

.md-card-media.md-ratio-4-3 i {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-5rem);
  &.media-icon-mod {
    @include absCenter;
  }
}

.md-snackbar {
  &.md-position-left {
    &.md-snackbar-adjust {
      min-width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.md-list.md-dense .md-list-item-content.md-list-item-content-reduce {
  min-height: auto;
  padding-left: 0px;
  @include respond(phone) {
    padding-left: 16px;
  }
}

.md-icon.md-small-size {
  @include respond(phone) {
    &-3x {
      height: 72px;
      font-size: 72px !important;
    }
  }
}
