.md-app-internal-drawer, 
.md-app-side-drawer 
.md-app-container {
    height: 100vh !important;
}

.md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}

#reset_bg {
    background-color: none !important;
    background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(~@/assets/img/random_network.png) !important;
    background-size: cover !important;
}


#reset_tab_bg.md-tabs.md-theme-default.md-primary .md-tabs-navigation {
    background-color: transparent !important;
    font-weight: 400;
    font-size: 1.6rem;
}

.md-avatar.md-theme-default {
    border: .2rem solid $secondary;
}

.md-button-content {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: capitalize !important;
    color: $secondary-light !important;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button { 

}

.md-active {
    border-bottom-color: $tertiary !important;
}