.md-app-internal-drawer, 
.md-app-side-drawer 
.md-app-container {
    height: 100vh !important;
}

.md-app-content {
    padding: 16px 0;
}

.md-drawer {
    width: 258px;
    max-width: calc(100vw - 125px);
}

#reset_bg {
    background-color: none !important;
    background: url('~@/assets/img/random_network.png') no-repeat center !important;
    background-size: cover !important;
}


#reset_tab_bg.md-tabs.md-theme-default.md-primary .md-tabs-navigation {
    background-color: transparent !important;
    font-weight: 400;
    font-size: 1.6rem;
}

.md-avatar.md-theme-default {
    border: .2rem solid $tertiary;
}

.md-button-content {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: capitalize !important;
    color: $secondary-light !important;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button { 

}

.md-active {
    border-bottom-color: $tertiary !important;
}

.adjust {
    &_metamine {
        &-toolbar {
            background-color: #8cb2ca !important;
            min-height: 60px !important;
        }
        &-title {
            font-weight: 300 !important;
            color: $primary !important;
            font-size: 3rem;
        }
    }
}

.md-toolbar-section-end {
    @include respond(tab-port) {
        display: none !important;
    }
}
