.section {
    &_banner {
        position: relative;
        background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(~@/assets/img/random_network.png);
        height: 40rem;
        width: 100%;
        background-size: cover;
        z-index: 10;

        @include respond(tab-land){
            height: 34rem;
        }

        @include respond(tab-port) {
            background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(~@/assets/img/random_network-medium.png);
            height: 30rem;
        }

        @include respond(phone) {
            background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(~@/assets/img/random_network-small.png);
            height: 26rem;
        }

        &__text-content {
            position: absolute;
            top: 55%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-align: center;
            width: 70%;
            letter-spacing: .02rem;
            font-weight: 200;
            font-size: 3rem;
            color: $primary-white;
            line-height: 1.3;

            @include respond(laptop) {
                width: 60%;
            }
            @include respond(phone) {
                top: 72% !important;
            }

            & > span {
                font-weight: 400;
            }

            & > i {
                color: $tertiary;
                font-size: 10rem;
                @include respond(tab-land) {
                    transform:translate(0, 25%);
                    font-size: 7rem;
                }
                @include respond(phone) {
                    transform:translate(0, 0);
                    font-size: 5rem;
                }

            }

            @include respond(tab-land) {
                width: 75%;
                font-size: 2.5rem;
            }

            @include respond(tab-port) {
                width: 75%;
                font-size: 1.8rem;
                top: 50%;
            }

            @include respond(phone) {
                top: 58%;
                width: 86%;
                font-size: 1rem;
                font-weight: 300;
            }
        }

        &__nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: .5rem;

            @include respond(phone){
                display: none;
            }
        }

        &__misc {
            height: 26rem !important;
            background-position: left;

            @include respond(phone){
                height: 16rem !important;
            }
        }
    }

    &_pages {
        margin: 0 0 4rem 0;
        padding: 2rem 0;
        background-color: $primary-white;

        @include respond(laptop) {
            margin: 0 0 2.5rem 0;
        }

        @include respond(tab-port) {
            margin: 0;
        }
    }

    &_teams {
        margin: 4rem 0 4rem 0;
        padding: 2rem 0;
        background-color: $primary-white;
        @include respond(laptop) {
            margin: 0 0 2.5rem 0;
        }

        @include respond(tab-port) {
            margin: 0;
        }
    }

    &_quicklinks {
        padding: 5.5rem 0;
        background-color: $primary-white;
        @include respond(laptop) {
            padding: 3.5rem 0;
        }
    }

    &_footer {
        background-color: $primary;
        padding: 1rem 0;
    }

    &_visualize {
        // margin: 0 0 3.5rem 0;
        padding: 5.5rem 0 3.5rem 0;
        background-color: $primary-white;
        @include respond(laptop) {
            position: relative;
            padding-top: 1.5rem;
            // margin-top: 1.5rem;
        }

        @include respond(tab-land) {
            padding-top: 0.5rem;
            // margin-top: 0.5rem;
        }

        @include respond(tab-port) {
            padding-top: 1.9rem 0 2.5rem 0;
            // margin-top: 1.9rem;
            // margin-bottom: 2.5rem;
        }

        @include respond(phone){
            margin-top: 0;
        }
    }

    &_loader {
        @include absCenter;
    }

    &_tabb-controller {
        color: $primary-black;
        border-bottom: 2px solid $primary-black;
        margin-bottom: -0.1rem;
    }

    &_text-col {
        margin: 0 15rem 0 0;

        @include respond(tab-land) {
            margin: 0 10rem 0 0;
        }
        @include respond(tab-port) {
            margin: 0 5rem 0 0;
        }
        @include respond(phone) {
            margin: 0;
        }
    }
    &_md-header {
        @include respond(phone) {
            display: flex;
            flex-direction: column-reverse;
        }

        & .flex-item{
            @include respond(phone) {
                flex-basis: 90%;
            }
        }

        & .img-div {
            width: 45rem; 
            height: 30rem;
            @include respond(phone) {
                width: 40rem;
            }
        }

        & .img {
            max-height: 40rem;
            @include respond(phone) {
                max-height: none;
            }
        }
    }
    &_contact{
        &_text-editor{
            .editor{
                width: 100%;
                min-height: 6em;
                outline: none;
                border: 1px solid #e2dcdc;
                border-radius: 6px;
                padding: 8px 16px;
                text-align: left;
    
                &:hover{
                    border: .1rem solid $primary;
                }
                & > * {
                    margin: .51rem 0;
                }
                & > h1{
                    margin: 1rem 0;
                }
            }
    
        }
        &__box{
            &-email {
                max-width: 120px;
                text-overflow: ellipsis;
                @include respond(phone) {
                    max-width: fit-content;
                }
            }
        }
    }
}
