<div class="vega-view">
    <div class="utility-content__result">
    <div class="utility-gridicon" v-if="!loading">
        <md-button id="navbackBtn" class="md-icon-button" @click.native.prevent="navBack">
            <md-tooltip> Go Back </md-tooltip>
            <md-icon>arrow_back</md-icon>
        </md-button>
        <md-button id="shareChartBtn"  class="md-icon-button" @click.native.prevent="renderDialog('Share chart', 'share', 60)">
            <md-tooltip> Share Chart </md-tooltip>
            <md-icon>share</md-icon>
        </md-button>
        <div v-if="chart.query">
            <md-button id="chartQueryBtn" class="md-icon-button"  @click.native.prevent="renderDialog('Chart Query', 'query')">
                <md-tooltip> Preview Chart Query </md-tooltip>
                <md-icon>preview</md-icon>
            </md-button>
        </div>
        <div v-if="results">
            <md-button id="dataTableBtn" class="md-icon-button" @click.native.prevent="renderDialog('Chart Data Table', 'data')">
                <md-tooltip> View Data as Table </md-tooltip>
                <md-icon>table_view</md-icon>
            </md-button>
        </div>
        <div v-if="specViewerSpec">
            <md-button id="vegaSpecBtn" class="md-icon-button" @click.native.prevent="renderDialog('Chart Vega Spec', 'vega', 80)">
                <md-tooltip> Preview Chart Spec </md-tooltip>
                <md-icon>integration_instructions</md-icon>
            </md-button>
        </div>
        <router-link class="md-icon-button"  :to="{name: 'ChartDataVoyager', params: {chartId: this.chartId} }" v-slot="{navigate, href}" custom>
            <md-button class="md-icon-button"  :href="href" @click="navigate"> 
                <md-tooltip> View Data in Voyager </md-tooltip>
                <md-icon>dynamic_form</md-icon>
            </md-button>
        </router-link>
        <div v-if="allowEdit">
        <md-button disabled class="md-icon-button" @click.native.prevent="editChart">
            <md-tooltip> Edit Chart </md-tooltip>
            <md-icon>edit</md-icon>
        </md-button>
        </div>
    </div>
    </div>

<div class="md-layout md-gutter md-alignment-top-center">
    <div class="md-layout-item  md-size-35 md-small-size-100">
    <div class="loading-dialog_justify">
        <div class="visualize">
        <div class="viz-sample__header" v-if="vizOfTheDay">
            <md-icon style="font-size: 2rem !important; color: gray !important">bar_chart</md-icon> Viz of the day
        </div>
        <div class="viz-sample__header" v-if="!vizOfTheDay">
            Chart Information
        </div>
        <div class="viz-sample__content">
            <div class="">
                <p v-if="error.status"> Error: {{error.message}} </p>
                <div class="md-headline viz-u-mgup-sm btn--animated">{{chart.title}}</div>
                <div class="btn--animated">
                    {{ slugify(chart.description) }}
                </div>
                <div class="viz-sample__list btn--animated">
                    <ul>
                    <li class="viz-u-postion__rel" v-for="(tag, index) in chartTags" :key="index">
                        <div class="viz-sample__content__card viz-u-display__hide viz-u-postion__abs">
                        {{ tag.description }}
                        <div><a class="btn-text btn-text--simple" target="_blank" :href="tag.uri">More</a></div>
                        </div>
                        {{ tag.title }}
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>
    <div class="md-layout-item md-size-60 md-small-size-100">
    <div class="loading-dialog" style="margin: 5rem" v-if="loading">
        <spinner :loading="loading" :text="'Loading chart data'"/>
    </div>
    <div class="loading-dialog" style="margin: auto" v-else>
        <div class="viz-u-display__desktop" style="margin-bottom: 2rem"/>
        <vega-lite :spec="spec" class="btn--animated vega-embed-chartview"/>
    </div>
    </div>
</div>

<dialogbox :active="dialogBoxActive" :minWidth="dialog.minWidth">
    <template v-slot:title>{{dialog.title}}</template>
    <template v-slot:content>
        <div v-if="dialog.type=='share'">
            <md-field> <label>Chart Link</label>
                <md-textarea disabled v-model="fullChartUri"></md-textarea>
            </md-field>
            <div>Copy the link above to share this chart</div>
        </div>
        <div v-if="chart.query && dialog.type=='query'" class="viz-intro-query" style="max-height: 40rem !important">
            <div>Copy and rerun query on a sparql endpoint</div>
            <yasqe v-model="chart.query" :showBtns='false'></yasqe>
        </div> 
        <div v-if="dialog.type=='data'" class="viz-intro-query" style="min-height: 40rem !important">
            <yasr :results="results"></yasr>
        </div>
        <div v-if="dialog.type=='vega'">
            <md-content>
            <v-jsoneditor
                v-model="specViewerSpec"
                :options="specViewer.jsonEditorOpts"
            >
            </v-jsoneditor>
            </md-content>
            <div class="vega-spec-controls">
                <md-checkbox v-model="specViewer.includeData">Include data in spec</md-checkbox>
            </div>
        </div>
    </template> 
    <template v-slot:actions>
        <md-button @click.native.prevent="toggleDialogBox">Close</md-button>
    </template>
</dialogbox>
</div>
