<md-app md-waterfall md-mode="fixed-last">
    <md-app-toolbar :toggler="toggleMenu" />
    <md-app-drawer :md-active.sync="toggleMenuVisibility">
      <drawer />
    </md-app-drawer>
    <md-app-content>
      <div class="section_pages">
          <div class="wrapper">
            <h1 class="article_title">{{ article.title }}</h1>
            <h3 class="article_authors">{{ article.authorNames }}</h3>
            <div class="article_metadata">
              {{ article.year }}, DOI: <a :href="doiLink" target="_blank">{{ doi }}</a>
            </div>
            <h3>Additional Semantic Scholar Metadata:</h3>
            <div class="article_abstract">
              <h3>Abstract</h3>
              {{ article.abstract }}
            </div>
            <div class="article_metadata">
              Cited by <span class="article_metadata_strong">{{ article.citationCount }}</span> other works.
            </div>
            <table class="article_references article_table">
              <tr class="article_table-header">
                <th>Year</th>
                <th>Author(s)</th>
                <th>Title</th>
              </tr>
              <tr class="article_table-row" v-for="(refObject, index) of article.references" :key="refObject.paperId">
                <td class="article_table-item_year">{{ refObject.year }}</td>
                <td class="article_table-item_authors">{{ refObject.authorNames }}</td>
                <td class="article_table-item_title">{{ refObject.title }}</td>
              </tr>
            </table>
            <table class="article_citations article_table">
              <tr class="article_table-header">
                <th>Year</th>
                <th>Author(s)</th>
                <th>Title</th>
              </tr>
              <tr class="article_table-row" v-for="(refObject, index) of article.citations" :key="refObject.paperId">
                <td class="article_table-item_year">{{ refObject.year }}</td>
                <td class="article_table-item_authors">{{ refObject.authorNames }}</td>
                <td class="article_table-item_title">{{ refObject.title }}</td>
              </tr>
            </table>
          </div>
      </div>
    </md-app-content>
</md-app>