<div class="main tool_page pixelunit wrapper">
  <div class="md-layout md-alignment-top-left md-gutter adjust-padding">
    <div class="md-layout-item md-size-100">
      <h2>Metamaterial Properties: Interactive Plot</h2>
      <p>
        Select properties from the dropdown menus below to graph on the x and y axes.
      </p>
      <p>
        Hovering over data points provides additional information.
        Scroll to zoom, click and drag to pan, and double-click to reset. 
      </p>
    </div>
    <div class="section_loader" v-if="loading">
      <spinner
        :loading="loading"
        text='Loading metamaterial data...'
      />
    </div>
    <div class="section_loader" v-else-if="error.status">
      Error while rendering Vega-Lite specification: {{error.message}}.
    </div>
    <div class="md-layout-item md-small-size-100" style="margin: 2rem" v-else>
      <div>
          <div class="viz-u-display__desktop" />
          <span class="md-layout md-gutter">
            <div class="md-layout-item md-size-30">
              <div class="facet-content_label">X Axis</div>
              <select
                class="form__select facet-content_item"
                name="xaxis"
                v-model="xAxis"
              >
                <option
                      v-for="(val, index) in xAxisOpts"
                      :key="index" :value="val.label"
                    > {{ val.label }}
                </option>
              </select>
            </div>
            <div class="md-layout-item md-size-30">
              <div class="facet-content_label">Y Axis</div>
              <select
                class="form__select facet-content_item"
                name="yaxis"
                v-model="yAxis"
              >
                <option
                      v-for="(val, index) in yAxisOpts"
                      :key="index" :value="val.label"
                    > {{ val.label }}
                </option>
              </select>
            </div>
          </span>
          <div id="vegaembed" class="btn--animated vega-embed-chartview" style="width: 100%"></div>
      </div>
    </div>
  </div>
</div>